.goodslist {
  list-style: none;
  padding: 2vw 3.5vw 0;
  overflow: hidden;
  background-color: #f5f5f5;
  margin: 0vw 0 13.4vw 0;
}
.goodslist li {
  float: left;
  width: 29.6vw;
  height: 29.6vw;
  border-radius: 3vw;
  background-color: #fff;
  margin: 2vw 2vw 2vw 0;
  color: #666;
}
.goodslist li .goods {
  width: 100%;
  height: 80%;
  display: block;
  border-radius: 3vw 3vw 0 0;
}
.goodslist li div {
  box-sizing: border-box;
  width: 100%;
  height: 20%;
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  border-radius: 0 0 3vw 3vw;
  font-size: 3.2vw;
  padding: 0 2vw;
}
.goodslist li div p img {
  width: 4vw;
  height: 4vw;
  vertical-align: bottom;
  margin-right: 1vw;
}
.goodslist li div p span {
  color: #A0261B;
}
.goodslist li:nth-of-type(3n) {
  margin-right: 0;
}
