.layout .head {
  position: relative;
  padding: 4vw;
  border-top: 0.5vw solid #D7C8A7;
  border-bottom: 0.5vw solid #D7C8A7;
  background-color: #ECE7DD;
  display: flex;
  justify-content: space-between;
}
.layout .head p {
  font-size: 4.2vw;
  font-weight: 500;
  color: black;
  margin: 0;
}
.layout .head .jifenone img {
  width: 5.6vw;
  height: 5.6vw;
  vertical-align: bottom;
}
.layout .head .jifenone span {
  padding: 2vw;
  color: #A0261B;
  font-weight: 500;
}
.layout .head .jifentwo img {
  width: 5.6vw;
  height: 5.6vw;
  vertical-align: bottom;
}
.layout .head .jifentwo span {
  padding: 2vw;
  color: #D2C29B;
  font-weight: 500;
}
.layout .head .select {
  background-color: #ECE7DD;
  font-size: 3.7vw;
}
.layout .head ul {
  list-style: none;
  padding: 3vw 4vw;
  margin: 0;
  background-color: #fff;
  border-radius: 3vw;
  position: absolute;
  top: 10.6vw;
}
.layout .head ul li {
  padding-bottom: 3vw;
}
.layout .head ul .active {
  color: #A0261B;
}
.layout .head ul:nth-of-type(1) {
  right: 18.5vw;
}
.layout .head ul:nth-of-type(2) {
  right: 1vw;
}
.layout .intru {
  padding: 4vw;
  background-color: #fff;
  margin-top: 2.4vw;
  border-top: 0.5vw solid #D7C8A7;
  border-bottom: 0.5vw solid #D7C8A7;
}
.layout .intru p {
  font-size: 3.7vw;
  margin: 0;
  color: black;
  letter-spacing: 0.5vw;
}
.layout .intru p:nth-of-type(2) {
  font-size: 3.4vw;
  color: #666;
  margin-top: 2vw;
}
.layout .buy {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-top: 2.4vw;
}
.layout .buy li {
  display: flex;
  padding: 3.4vw 4vw;
  background-color: #fff;
  border-top: 0.5vw solid #D7C8A7;
  border-bottom: 0.5vw solid #D7C8A7;
  margin-bottom: 2.4vw;
}
.layout .buy li .big {
  width: 16vw;
  height: 16vw;
  border-radius: 3vw;
}
.layout .buy li div:nth-of-type(1) {
  margin: 2vw 0 0 3vw;
}
.layout .buy li div:nth-of-type(1) p {
  font-size: 4.2vw;
  color: black;
  margin: 0;
  margin-bottom: 0.5vw;
}
.layout .buy li div:nth-of-type(1) span {
  color: #ccc;
  font-size: 3.4vw;
}
.layout .buy li div:nth-of-type(2) {
  margin: 2.4vw 0 0 15vw;
}
.layout .buy li div:nth-of-type(2) img {
  width: 5.6vw;
  height: 5.6vw;
  vertical-align: bottom;
}
.layout .buy li div:nth-of-type(2) span {
  padding: 1vw;
  color: #A0261B;
  font-weight: 500;
}
