.layout .send {
  border-top: 0.5vw solid #D7C8A7;
  border-bottom: 0.5vw solid #D7C8A7;
  display: flex;
  background-color: #fff;
  justify-content: space-between;
  margin-bottom: 2.5vw;
  font-size: 4vw;
}
.layout .send a {
  display: block;
  padding: 5vw 6vw;
  margin: 0 2.5vw;
  color: #585858;
  position: relative;
}
.layout .send a span {
  display: block;
  width: 4vw;
  height: 4vw;
  line-height: 3.5vw;
  text-align: center;
  position: absolute;
  border-radius: 50%;
  font-size: 3vw;
  border: 0.3vw solid #D7C8A7;
  top: 3.6vw;
  right: 1vw;
}
.layout .send .active {
  border-bottom: 1.2vw solid #D7C8A7;
}
