.layout {
  width: 100%;
  height: 100%;
  border-top: 0.5vw solid #CAA487;
}
.layout .content {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 82%;
  padding: 0 4vw;
  border-bottom: 0.5vw solid #CAA487;
}
.layout .content .left {
  display: flex;
  justify-content: space-around;
}
.layout .content .left h2 {
  font-size: 6.4vw;
  width: 10vw;
  font-weight: 500;
  margin-top: 17vw;
  line-height: 7vw;
}
.layout .content .left h2 span:nth-of-type(1) {
  display: block;
  padding-bottom: 4vw;
}
.layout .content .left p {
  font-size: 4vw;
  width: 7vw;
  margin-top: 17vw;
  line-height: 4.5vw;
}
.layout .content .left p span:nth-of-type(1) {
  display: block;
  padding-bottom: 4vw;
}
.layout .content .qian {
  width: 41.3vw;
  height: 106.7vw;
  margin-top: 6vw;
  display: flex;
  justify-content: space-between;
  padding: 0 6vw;
}
.layout .content .qian div {
  width: 5vw;
  margin-top: 7vw;
}
.layout .content .qian h1 {
  font-size: 13.3vw;
  width: 13vw;
  line-height: 17vw;
  font-weight: 500;
  color: #A0261B;
  margin-top: 10vw;
}
.layout .content img {
  width: 12vw;
  height: 14vw;
  display: block;
  margin-top: 19vw;
}
.layout .jifen {
  border-bottom: 0.5vw solid #CAA487;
  display: flex;
  height: 9%;
  line-height: 13vw;
  background-color: #fff;
}
.layout .jifen div {
  padding: 0 4vw;
  font-size: 4.5;
  color: #CAA487;
}
.layout .jifen div img {
  width: 5.5vw;
  height: 5.5vw;
  vertical-align: middle;
}
.layout .jifen div span {
  padding-left: 1vw;
}
.layout .jin {
  background-color: #fff;
  height: 9%;
  line-height: 13vw;
  font-size: 4.5vw;
  padding-left: 4vw;
}
.layout .jin span {
  color: #A0261B;
}
