.fo img {
  display: block;
  width: 58.8vw;
  height: 72.6vw;
  margin: 8vw auto;
}
.sec {
  text-align: center;
  font-size: 9.6vw;
  font-weight: 500;
  color: black;
}
.btn {
  display: flex;
  justify-content: space-between;
  padding: 4vw 20vw 0;
}
.btn button {
  width: 26.6vw;
  height: 10.6vw;
  border: 0;
  border: 0.4vw solid #A0261B;
  border-radius: 1.5vw;
  outline: none;
}
.btn .btn1 {
  color: #A0261B;
  background-color: #F8F8F8;
}
.btn .btn2 {
  color: #CAA487;
  background-color: #A0261B;
}
