.layout {
  border-top: 0.5vw solid #CAA487;
}
.layout img {
  display: block;
  margin: 33vw auto 5vw;
  width: 20vw;
}
.layout p {
  font-size: 4.8vw;
  text-align: center;
  letter-spacing: 0.5vw;
  margin-bottom: 22vw;
}
.layout .btn {
  display: flex;
  justify-content: space-between;
  padding: 3vw 16vw;
}
.layout .btn button {
  width: 26.6vw;
  height: 10.6vw;
  margin: 3vw;
  border: 0;
  border: 0.5vw solid #A0261B;
  border-radius: 2vw;
  font-size: 4.2vw;
}
.layout .btn .btn1 {
  color: #A0261B;
  background-color: #F8F8F8;
}
.layout .btn .btn2 {
  color: #CAA487;
  background-color: #A0261B;
}
